.product .card {
    margin: 1em;
}

.detail .card {
    margin: 1em 0;
}

.product .card-body {
    padding: 0;
}

.card-body img {
    height: 100%;
}

.detail .card-header {
    position: relative;
    display: flex;
    align-items: center;
}

.detail .card-header h4 {
    text-align: center;
    width: 100%;
}

.detail .card-header img {
    position: absolute;
    width: 40px;
}

.detail .card-header img.detail {
    right: 10px;
}

.detail .card-header img.avatar {
    left: 10px;
}

.bill {
    display: flex;
    justify-content: space-around;
    margin: .5em 0;
}
